a {
    text-decoration: none;
    transition: 0.6s;
}
a:hover {
    color: rgb(221, 6, 6);
}

.stickybox {
    position: sticky;
    top: 0;
    z-index: 10; /* Ensures it stays on top of other elements */
    background-color: white; /* Optional: to ensure it has a background */
  }

/* Chrome, Edge, and Safari */
::-webkit-scrollbar-track {
    background: transparent; /* Transparent background */
  }
  
  ::-webkit-scrollbar {
    width: 12px; /* Scrollbar width */
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent thumb */
    border-radius: 6px; /* Optional: Rounded corners */
  }
  .scrollable-container {
    overflow: overlay; /* Makes the scrollbar overlay the content */
    background-color: transparent; /* Ensures no white space appears */
  }
  .unscrollable {
    overflow-y: hidden;
  }